.header__button {
  padding: 15px 30px;
  height: 51px;
  background: linear-gradient(270deg, #ff694e -10.78%, #ff3a15 116.67%);
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

@media (max-width: 1024px) {
  .header__button {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 18px;
  }
}
